html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #acabeb;
}
h1 {
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
h2 {
    font-size: 22px;
}
p, 
li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
}
body {
    width: 720px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 0 20px 20px 20px;
    border: 5px solid black;

}
img {
    display: block;
    margin: 0 auto;
    
    width: 360px;
}